<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Moviess</title>
</head>
<body>
<h2>Movies List</h2>
<ul>
    <li th:each="movies : ${movies}">
        <span th:text="${movies.title} ?: 'N/A'"></span>
    </li>
    <li th:each="movies : ${movies}">
        <span th:text="${movies.genre} ?: 'N/A'"></span>
    </li>
    <li th:each="movies : ${movies}">
        <span th:text="${movies.yearOfPost} ?: 'N/A'"></span>
    </li>
    <li th:each="movies : ${movies}">
        <span th:text="${movies.group} ?: 'N/A'"></span>
    </li>
</ul>
</body>
</html>